<div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let type of resorts | menuFilter; last as l"
          [ngClass]="{'anc-bor':l, active: type === type}"
          (click)="filterResort(type)"
      >
        <a>{{type}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2" *ngIf="resorts; else loadingTemplate">
        <app-resort
                appFirstInit
                *ngFor="let resort of resorts | resortsFilter:type; first as f"
                [first]="f"
                [resort]="resort"
                (click)="selectResort(resort)"
        >
        </app-resort>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  ... loading
</ng-template>